:root {
    --main-color: rgb(35,35,47);
    --sub-color: rgb(46,54,67);
    --button-color: rgb(39, 48, 219);
    --button-color-sub: rgb(103, 110, 255);
    --button-color-delete: rgba(199, 44, 44, 0);
    --button-color-hover: rgb(63, 71, 223);
    --button-color-hover-lighter: rgb(89, 97, 255);
    --button-color-hover-delete: rgb(211, 57, 57);
  }
  